
.vs/Crypter/v16/.suo
Crypter/bin/Debug/Crypter.exe
Crypter/bin/Debug/Crypter.pdb
*.cache
Crypter/obj/Debug/Crypter.csproj.FileListAbsolute.txt
Crypter/obj/Debug/Crypter.pdb
Crypter/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
Crypter/obj/Debug/Crypter.Properties.Resources.resources
Crypter/obj/Debug/Crypter.exe
Crypter/obj/Debug/CrypterExample.Form1.resources
Crypter/obj/Debug/Crypter.FormDoc.resources
Crypter/obj/Debug/Crypter.FormAbout.resources
